# 依赖
node_modules/

# 构建输出
unpackage/dist/
unpackage/build/
dist/
build/

# 开发环境
.hbuilder/
.hbuilderx/
.idea/
.vscode/

# 系统文件
.DS_Store
Thumbs.db

# 日志
*.log
logs/

# 环境变量
.env.development
.env.production

# 缓存
*.tsbuildinfo
.eslintcache