<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.magee.system.mapper.SysDepartMapper">

     <update id="updateDepartChildren" parameterType="list">
         update sys_depart set ancestors =
         <foreach collection="children" item="item" index="index" separator=" " open="case depart_id" close="end">
             when #{item.departId} then #{item.ancestors}
         </foreach>
         where depart_id in
         <foreach collection="children" item="item" index="index" separator="," open="(" close=")">
             #{item.departId}
         </foreach>
     </update>

    <update id="updateDepartStatus" parameterType="list">
        update  sys_depart set status = 1 where depart_id in
        <foreach collection="ids" item="departId"   separator="," open="(" close=")">
            #{ departId}
        </foreach>
    </update>

    <select id="getDepartAncestors" resultType="long">
        WITH RECURSIVE cte AS (
        SELECT depart_id, parent_id
        FROM sys_depart
        WHERE depart_id IN
        <foreach collection="departIds" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>

        UNION ALL

        SELECT d.depart_id, d.parent_id
        FROM sys_depart d
        INNER JOIN cte ON d.depart_id = cte.parent_id
        )
        SELECT DISTINCT depart_id FROM cte
    </select>

    <select id="getDepartChildren" resultType="long">
        WITH RECURSIVE sub_departments AS (
            SELECT depart_id, parent_id
            FROM sys_depart
            WHERE depart_id IN (
                <foreach collection="departIds" item="id" open="(" separator="," close=")">
                    #{id}
                </foreach>
            )

            UNION ALL

            SELECT d.depart_id, d.parent_id
            FROM sys_depart d
                     INNER JOIN sub_departments sd ON d.parent_id = sd.depart_id
        )
        SELECT * FROM sub_departments;
    </select>
</mapper>
