<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.magee.system.mapper.SysPermissionMapper">
    <select id="selectUserPermission" resultType="string">
        select distinct menu_id
        from (
                -- 角色授权
                 select p.menu_id
                 from sys_user_role ur join sys_permission p on p.item_type = 1 and p.item_id = ur.role_id
                 where ur.user_id = #{userId}
                -- 用户授权
                 union all
                 select p.menu_id
                 from  sys_permission p where p.item_type = 2 and p.item_id = #{userId}
             ) p order by p.menu_id
    </select>
</mapper>
